/* CyberOS rofi — UMaT palette */
configuration {
    modi: "drun,run,window,emoji,calc";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "JetBrainsMono Nerd Font 12";
    drun-display-format: "{name}";
    display-drun: "  apps";
    display-run: "  run";
    display-window: "  windows";
    display-emoji: "  emoji";
    display-calc: "  calc";
    matching: "fuzzy";
    sort: true;
    terminal: "foot";
    kb-mode-next: "Shift+Right,Control+Tab";
    kb-mode-previous: "Shift+Left,Control+ISO_Left_Tab";
}
@theme "cyberos"
