[Desktop Entry]
Type=Application
Name=Install CyberOS
Comment=Install CyberOS to this computer's disk
Exec=/usr/local/bin/cyberos-install-gui
Icon=drive-harddisk
Terminal=false
Categories=System;
Keywords=install;setup;disk;
